name: Release

on:
  push:
    tags:
    - 'v*'

jobs:

  release:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python: [3.6, 3.7, 3.8, pypy3]

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}

    - name: Install tox
      run: |
        python -m pip install --upgrade pip
        pip install tox
        
    - name: Upload with twine
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.pypi_token }}}
      run: |
        tox -e release